@charset "UTF-8";
/* CSS Document */

/* body {
    color: #fff;
    background-color: #4F8BF9;
} */

.stButton {
    color: #f63366;
    /* width: 462px; */
}

/* stform */
.css-12ttj6m {
   border: 0;
   padding: 0;
}

.streamlit-expanderHeader {
   border: 0;
   padding: 0;
}

/* multiselect (this change with html) */
.st-dc {
    margin-left: 0px;
}

/* stcheckbox (abstract) */
.css-1djdyxw {
    font-size: small;
}
